* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: url('./task1.jpg') no-repeat;
    background-size: cover;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https: //www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds&psig=AOvVaw3e3sUNkCRLCHRXNE0UXwZT&ust=1710347606399000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCIjDqr6T74QDFQAAAAAdAAAAABAE");
}

.container {
    height: 80vh;
    width: 80%;
    background-color: #0a0a4b;
    border-radius: 10px;
}

.navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

.navbar>div {
    font-weight: 900;
}

.content {
    display: flex;
}

.form {
    height: 30rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-top: 1rem;
    text-align: left;
    color: #bf5ac9;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

input {
    background-color: #464691;
    border: none;
    height: 1rem;
    width: 10rem;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    font-size: 1rem;
}

textarea {
    background-color: #464691;
    border: none;
    padding: 1rem;
    margin: 1rem 1rem .4rem 0;
    font-size: 1.2rem;
}

.submit {
    border: none;
    height: fit-content;
    width: fit-content;
    background-color: #bf5ac9;
    padding: 0.7rem 1.3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    scale: .9;
}

.contact {
    height: 100%;
    width: 30%;
    padding: 1rem;
}

.info {
    display: block;
    color: white;
    margin: 2rem 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.icons>img {
    height: 2.5rem;
    width: 2.5rem;
    padding: 1rem 1rem 1rem 0;
}